.wrapper {
    background: rgb(221, 218, 218);
    background-image: url('https://3.bp.blogspot.com/-ewBAYTDwObY/W3y9Dt7As0I/AAAAAAAAILg/sP_k9LqZkCMM2eoVmMQWrzBxmj3P00IbQCLcBGAs/s1600/Saint%2BSeiya%2BLegend%2Bof%2BSanctuary%2Btitle.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    padding-bottom: 50px;
  
}
